html {
  background-color: #fafafa;
}

h2 {
  padding: 10px;
  margin: 0;
  font-size: 30px;
  font-weight: 800;
  color: #949494;
  background-color: #c7c7c7;
  font-family: monospace;
}

table {
  border-spacing: 10px;
}

th {
  padding: 10px;
  background-color: #ededed;
}

td {
  padding: 10px;
  background-color: #dedede;
}